<tr id="<%= dom_id food_intake %>">
  <td><%= food_intake.name %></td>
  <td><%= food_intake.calories %> ml</td>
  <td><%= l(food_intake.intake_time.in_time_zone("Asia/Kuala_Lumpur"), format: :short) %>
  <td><%= link_to "edit", edit_food_intake_path(food_intake) %></td>
  <td><%= link_to "delete", food_intake_path(food_intake), method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
